body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdf6f0;
  color: #333;
}


.navbar {
  /* position: fixed; */
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #6f4e37;
  padding: 10px 20px;
  color: white;

}

.navlist {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navlist li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-search input {
  padding: 5px;
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  background: url('coffee-cup.jpg') no-repeat center center/cover;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero-content{
  text-align: center;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-content button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  color:black;
  font-size: 1rem;
  cursor: pointer;
  justify-content: center;
}

.menu {
  padding: 40px;
  text-align: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.menu-item {
  background-color: rgb(91, 53, 2);
  color: white;
  padding: 20px;
  border: 1px solid rgb(74, 43, 2);
  border-radius: 8px;
  }
.card-container {
  display: flex;        
  flex-wrap: wrap;        
  gap: 20px;              
}


.card {
  flex: 1 1 250px;       
  max-width: 300px;       
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


  
/* .card-container {
  display: grid;

  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
} */

.outer-container{
  display: flex;
justify-content: center;
margin-top: 15px;
}
.card {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
 
 
 
 
 
 





















































































































































































































































































































































































































































































































































































































































































































































































































































































